/*{
	background-image:url("3.jpg");*/
}
.container{
	padding:30px;
	margin: 10px;
	margin-top: 10px;
	color: yellow;
	font-size: 36px;

}
.jumbotron{
	color: #800000;
	background-color: #800000;
	background-image: url("5.jpg");
}
.col-sm-4{
	font-size: 35px;
}
.col-sm12{
	margin-left: 48px;
}
.row{
	background-image: none;
}