body{
	text-align: center;
	color: white;
	background-image: url("lion.jpg");
	background-size: 100%;
}
.go a:active{
	position: relative;
	top: 2px;
}
.go{
	border:4px solid white;
	margin-left: 700px;
	margin-right: 700px;
	margin-top: 30px;
	background-color: black;
}
h1,h2,.go { transition: all .2s ease-in-out; }
h1,h2,.go:hover { transform: scale(1.1);
cursor: pointer; cursor: hand; }